


.comics-cont0{
  padding-top: 180px;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url('imgs/background1.png') no-repeat;
}

.comics-cont1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.comics-cont2 {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 100px;
}
