

.login-cont0{
  height: 500px;
  width: 350px;
  background-color: rgba(255,255,255, 0.9);
  border: solid 2px var(--red);
  border-radius: 50%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: space-around;
  padding: 50px 20px;
  z-index: 1000;
}

.login-cont0 p{
  color: var(--red);
}

.login-cont0 p:first-child{
  font-size: 30px;
}

.login-cont0 input{
  background-color: var(--red);
  border-style: none;
  border-bottom: solid 1px var(--greytexte);
  color: white;
  padding: 10px;
  font-size: 16px;
  width: 80%;
  border-radius: 10px;
  text-align: center;
}

.login-cont0 input:focus{
  border: none;
  outline: none;
}

.login-cont0 input::placeholder{
  color: pink;
}

.login-cont0 button{
  height: 30px;
  width: 200px;
  border-radius: 5px;
  border-style: none;
  background-color: white;
  color: var(--green);
}

.login-cont0 button img {
  height: 50px;
}