



.button3-cont0 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.button3-cont0 img {
  height: 35px;
  transition: transform 0.2s;
  position: absolute;
}

.button3-cont0 img:hover {
  transform: scale(1.2); 
}
